<!-- views/partials/navbar.ejs -->
<ul class="nav-parent">
	<li class="nav-li"><a href="/">Home</a></li>
	<li class="nav-li"><a href="/about">About</a></li>
	<li class="nav-li"><a href="/location">Location</a></li>
	<li class="nav-li"><a href="/testform">Test Form</a></li>
	<li class="nav-li"><a href="/sqltest">SQL Test</a></li>
</ul>

<style>
.nav-parent {
  	list-style-type: none;
  	margin: 0px;
	padding: 13px;  
	background-color: #054680;
}

.nav-li {
	display: inline;
	padding: 22x;
	font-size: 20px;
}

.nav-li a {
	padding: 25px;
	text-decoration: none;
	color: #ebffff;
}
</style>
