<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>

        <nav>
            <% include ../partials/navbar %>
        </nav>

        <div class="page-body">
        <h1>About</h1>
		<p>This site is the final project for the CS 290 Web Development Class</p>
		
        <footer>
            <% include ../partials/footer %>
        </footer>

        </div>
    </body>
</html>
          
