<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>

        <nav>
            <% include ../partials/navbar %>
        </nav>

        <div class="page-body">
        <h1>About</h1>
		<p>This site is the final project for the CS 290 Web Development Class</p>
		
		<br>

		<p>This website should contain the following: </p>
		<ul>
			<li>Basic information regarding the address</li>
			<li>Pictures of the house</li>
			<li>Relative documents for download</li>
			<li>Complaint system for house management</li>
		</ul>
		
		<a href="https://studentlife.oregonstate.edu/chapter-profile/acacia">OSU Acacia Page (external)</a>
		<br>

		<form method="get" action="files/2018_strategy.pdf">
		<br>
		<button>2018 Acacia Strategy (download)</button>
		
		<h2>Acacia Gear</h2>
		<iframe src="https://acaciagear.merchorders.com/" height="600" width="900"></iframe>
		<br>
		<a href="https://acaciagear.merchorders.com/">External Store Link</a>	
		</form>
	
        <footer>
            <% include ../partials/footer %>
        </footer>

        </div>
    </body>
</html>
          
