<!DOCTYPE html>
<html>
	
	<head>
		<% include ../partials/head	%>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>	

	<body>
	
		<nav>
			<% include ../partials/navbar %>			
		</nav>
		
		<div class="page-body">
		<h1>Welcome to the Acacia Information Site</h1>
		<p>This website is used as an interface to general Oregon State Acacia Information</p>
		<p><i>Disclaimer: This is a school project an isn't affiliated with Acacia Fraternity in any way</i></p>
		<img src = "favicon.ico" />
		

		<footer>
			<% include ../partials/footer %>
		</footer>	
		
		</div>
	</body>
</html>
