<!DOCTYPE html>
<html>
	
	<head>
		<% include ../partials/head	%>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/carousel_partial.js"></script>
	</head>	

	<body>
	
		<nav>
			<% include ../partials/navbar %>			
		</nav>
		
		<div class="page-body">
		<h1>Welcome to the Acacia Information Site</h1>
		<p>This website is used as an interface to general Oregon State Acacia Information</p>
		<p><i>Disclaimer: This is a school project and isn't affiliated with Acacia Fraternity in any way</i></p>
		<img class = "slide" src = "images/akak_front.png" />
		<img class = "slide" src = "images/akak_drone.png" />
		<img class = "slide" src = "images/akak_snow.png" />		
		<p id="corvo_temp">The temperature in Corvallis is: </p>		

		<footer>
			<% include ../partials/footer %>
		</footer>	
		
		</div>
	</body>
</html>
